<div class="center jumbotron">
  <h1>No hej</h1>

  <h2>
    To jest moja aplikacja testowa na podstawie
    <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    Michael'a Hartl'a
    Test Test zmiany zmiany
  </h2>

  <%= link_to "Zarejestruj się!", signup_path, class: "btn btn-lg btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails logo"),
            'http://rubyonrails.org/' %>
