<footer class="footer">
  <small>
    Na podstawie <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
    autorstwa <a href="http://www.michaelhartl.com/">Michael'a Hartl'a</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Informacje",   about_path %></li>
      <li><%= link_to "Kontakt", contact_path %></li>
      <li><a href="http://www.wykop.pl/">Newsy</a></li>
    </ul>
  </nav>
</footer>